<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__inner">
      <ul>
        <li>
          <h3>Rotation Time</h3>
          <span> {{rotation}} </span>
        </li>
        <li>
          <h3>Revolution Time</h3>
          <span> {{revolution}} </span>
        </li>
        <li>
          <h3>Radius</h3>
          <span> {{radius}} </span>
        </li>
        <li>
          <h3>Average Temp</h3>
          <span> {{temperature}} </span>
        </li>
      </ul>
    </div>
  </div>
</footer>
